@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background: #121212;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #424242 transparent;
    padding-right: 8px;
    box-sizing: content-box;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 100vh;
}